---
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
    const speciesEntries = await getCollection('species');
    return speciesEntries.map(entry => ({
        params: { species: entry.id }, props: { entry },
    }));
}

function calcHP(base: number, sv: number, tv: number, level: number): number {
    return Math.floor((1.5 * base + sv + tv / 5) * level / 80 + sv * base * level / 2000 + level + 15)
}

function calcSTA(base: number, sv: number, tv: number, level: number): number {
    return Math.floor(base / 4 + level ** 0.35 * 6 + sv * level * base / 20000 + tv * level * base / 30000)
}

function otherStat(base: number, sv: number, tv: number, level: number): number {
    return Math.floor((1.5 * base + sv + tv / 5) * level / 100 + sv * base * level / 25000 + 10)
}

const { entry } = Astro.props;
---

<h1>{entry.id}</h1>
<!--
<video poster={`./poster/idle/${entry.id}`} width="320" height="320">
    <source src={`./animation/idle/${entry.id}.webm`} type="video/webm">
</video>
<input type="number" min="1" max="100" value="100" id="level">
<label for="level" title="Level">Lv.</label>
<progress id="health" max={calcHP} value={/* Calc health */}></progress>
<label for="heath">{/* Calc health */} / {/* Calc health */}</label>
<progress id="stamina" max={/* Calc stamina */}></progress>
<label for="stamina">{/* Calc stamina */} / {/* Calc stamina */}</label>
<progress id="gender-ratio"></progress>
<label>{entry.data.genderRatio}%</label>
-->